<div id="flash-mssg">
    <% if(successMssg && successMssg[0]) { %>
        <div class="alert alert-warning alert-dismissible fade show"  role="alert">
          <%- successMssg[0] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <% if(errorMssg && errorMssg[0]) { %>
        <div class="alert alert-danger alert-dismissible fade show"  role="alert">
          <%- errorMssg[0] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
</div>
  