<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.cdnfonts.com/css/rasputin" rel="stylesheet">
</head>
<body>
    <div id="main">
        <%- include('includes/flash.ejs') %>
        <div id="hero" class="animate__fadeInDown">
            


            <div id="hero-left" class="animate__fadeInLeft">
                <h3>GLAMIFY</h3>
                <div class="base" data-aos="fade-right">
                    <h1>Coming <br> soon</h1>
                    <p>We're launching our freshest <br> facial care line yet: GlaMify</p>
                    <button><a href="/subscribe">GET EARLY ACCESS</a></button>
                </div>
            </div>
            <div id="hero-right"  class="animate__fadeInRight">
                <img src="img/hero.jpg" alt="">
            </div>
        </div>

        <div id="page-1" data-aos="fade-up">
            <div id="p1_left" class="animate__fadeInLeft">
                <img src="img/peak1.jpg" alt="">
            </div>
            <div id="p1_right" data-aos="fade-left">
                <h3>HERE'S A SNEAK PEAK</h3>
                <div class="row">
                    <p>GlaMify is our lightest yet most effective product line for sensitive skin. Every product is made with botanical extracts and pure glacial water for an all-natural glow</p>
                    <img src="img/peak2.jpg" alt="">
                </div>
                <p>Watch out for it this January 1, 2025</p>
                
            </div>
        </div>

        <div id="page-2">
            <div id="p2_left">
                <div>
                    <h4  style="font-size: 50px; font:bold;">ORGANIC</h4>
                    <h1 style="font-size: 25px ;">Pure and all-natural ingredients</h1>
                </div>
                <div>
                    <h4 style="font-size: 50px; font:bold;">GENTLE</h4>
                    <h1 style="font-size: 25px">Safe for sensitive skin</h1>
                </div>
                <div>
                    <h4 style="font-size: 50px; font:bold;">EFFECTIVE</h4>
                    <h1 style="font-size: 25px">Clinically proven</h1>
                </div>
            </div>
            <div id="p2_right">
                <video muted loop autoplay = "autoplay" src="img/indexvideo.mp4" su width="100%"></video>
            </div>
        </div>

        <div id="page-3">
            <div id="p3_main">
                <div class="p3_up">
                    <img src="img/product1.jpg" alt="">
                </div>
                <div class="p3_down">
                    Fresh botanical extracts
                </div>
            </div>
            <div id="p3_main">
                <div class="p3_up">
                    <img src="img/product2.jpeg" alt="">
                </div>
                <div class="p3_down">
                    Pure glacial water
                </div>
            </div>
            <div id="p3_main">
                <div class="p3_up">
                    <img src="img/product3.jpeg" alt="">
                </div>
                <div class="p3_down">Enriched with vitamins</div>
            </div>
        </div>


        <div id="page-4">
            <h1>BE THE FIRST TO EXPERIENCE THE ULTIMATE RADIANCE</h1>
            <div id="p4_main">
                <div>
                    <img src="img/category1.jpeg" alt="">
                </div>
                <div>
                    <img src="img/category2.jpeg" alt="">
                </div>
                <div>
                    <img src="img/category3.jpeg" alt="">
                </div>
                <div><img src="img/category4.jpeg" alt=""></div>
            </div>
            <button ><a href="/subscribe">GET EARLY ACCESS</a></button>
        </div>


        <div id="footer" data-aos="fade-up">
            <h2 >GLAMIFY</h2>
            <h1 data-aos="fade-up">TRUSTED SKINCARE</h1>
            <div id="footer_main">
                <div class="box">
                    <h3>LET'S GET SOCIAL!</h3>
                    <ul>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>LinkedIn</li>
                    </ul>
                </div>
                <div class="box">
                    <h3>About Us</h3>
                    <ul>
                        <li>Our Values</li>
                        <li>Privacy policy</li>
                        <li>Terms & conditions</li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
                <div class="box special">
                    <h3>Quick links</h3>
                    <ul>
                        <li>Knowledge</li>
                        <li>FAQs</li>
                        <li>Return & refund policy</li>
                        <li>Track order</li>
                    </ul>
                </div>
            </div>
            <p>www.glamify.com
            </p>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/8bc00e6a4e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body> 
</html>
